.totalContainer{
    background: black;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
  
  }

  .totalContainer > * {
      color: white
  }

  .itemContainer{
      display: flex;
      justify-content: space-between;
      padding: 10px;
  }

  .border{
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid white;
  }