.cardContainer {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
}

.avatar{
    height: 100px;
    width: 100px;
}

.titleContainer{
    margin-left: 10px;
}

.titleContainer h2{
    margin: 0px;
    font-size: 16px;
}

.titleContainer p{
    margin: 10px 0 0 ;
    font-size: 12px;

}

.price{
    margin-left: auto;
}